
<app-mensaje [mensaje]="mensaje"></app-mensaje>


    <div class="container" style="
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    ">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="#/entidades">Entidades</a></li>
          </ol>
        </nav>

        <div style="
            display: flex;
            justify-content: center;
        ">
            <h2>ENTIDADES</h2>
        </div>
        <br>
        
        <div style="
            display: flex;
            justify-content: end;
        ">
            <div class="mb-3">
                <button class="btn btn-primary btn-lg" (click)="abrirModalCrear()">Agregar</button>
            </div>
        </div>

        <table class="table table-striped">
            <thead class="table-dark" >
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Logo</th>
                <th scope="col">Nit</th>
                <th scope="col">Nombre Entidad</th>
                <th scope="col">Activo</th>
                <th scope="col">Editar</th>
                <th scope="col">Proyectos</th>
            </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of entidades; let i = index">
                <th scope="row">{{ item.idEntidad }}</th>
                <td><img src="{{item.urlImagen}}"  width="250px" height="100px"></td>
                <td>{{ item.nit }}</td>
                <td>{{ item.nombreEntidad }}</td>
                <td>{{ item.activo ? 'SI' : 'NO' }}</td>
                <td>
                    <img src="https://cdn-icons-png.flaticon.com/512/84/84380.png" (click)="abrirModalEditar(item)"  width="30px" height="30px">
                </td>
                <td>
                  <img src="https://cdn-icons-png.flaticon.com/512/8943/8943796.png" (click)="redireccionarProyectos(item)"  width="30px" height="30px">
              </td>
                </tr>
            </tbody>

        </table>

    </div>



    <div class="modal" tabindex="-1" #exampleModal>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">ENTIDAD</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
                <form >
                    <div class="mb-3">
                      <label class="form-label">Nit</label>
                      <input type="text" class="form-control" [(ngModel)]="entidadSeleccionada.nit" name="nit" required>
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Nombre</label>
                      <input type="text" class="form-control" [(ngModel)]="entidadSeleccionada.nombreEntidad" name="nombreEntidad" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Url Imagen</label>
                        <input type="text" class="form-control" [(ngModel)]="entidadSeleccionada.urlImagen" name="urlImagen" required>
                    </div>

                    @if (entidadSeleccionada.idEntidad != 0) 
                    {
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" [(ngModel)]="entidadSeleccionada.activo" name="activo" type="checkbox"  id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Activo
                                </label>
                              </div>
                        </div>
    
                    }

                </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="upsertEntidad()">Guardar</button>
            </div>
          </div>
        </div>
      </div>